    body {

    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;

    }


    .nav {
   
    width: 100%;
    position: fixed;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    }

    .nav >.nav__item {

    background: rgb(220, 220, 220);
    padding: 0 5px;
    margin: 0 80px;
    position: relative;
    list-style-type: none;
    font-size: 1.5rem;

    }

    .nav >.nav__item a {
       text-decoration: none;

    }

   .nav >.nav__item a:hover {
       color: black;
    }



    .nav__dropdown {

    display: none;
    position:absolute;
    width: 200px;
    text-align: center;
    background-color: aqua;
    padding: 0;
    list-style-type: none;
    box-shadow: 0 0 23px 0 rgba(0 0 0 0.25);
    margin-top: 0;
    padding: 8px;
    border-radius: 5px;
    
    }

    .nav__dropdown .dropdown__item {

    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 5px;
    
    }

    .nav__dropdown .dropdown__item a {

    text-decoration: none;

    }

    .nav__dropdown .dropdown__item a:hover {

    color: none;

    }

    .nav__item:hover > .nav__dropdown {

    display: block;
    left: 0;

    }

    .dropdown__item{

    position: relative;
    
    }