.row{
    border: 3px solid blue;
}

.container{
    border: 2px solid red;
    
}

.cell{
    border: 2px solid yellow;
}

.nav{
    border: 2px solid green;
    

}

.nav {
    display: flex;
}

.nav__item {
    background: rgb(220, 220, 220);
    padding: 0 5px;
    margin-left:0;
    position: relative;
    list-style-type: none;
   }

.nav__dropdown{
    display: none;
    position:absolute;
}
.nav__item:hover > .nav__dropdown {
    display: block;
    left: 0;

}

.dropdown__item{
    position: relative;
}